target/
!.mvn/wrapper/maven-wrapper.jar
logs/
uploads/
application-local.properties
config/application.properties
config/application-local.properties
.idea/
*.iml
.DS_Store
data/
__pycache__/
*.pyc
.venv/
